#ClockContainer {
    position: relative;
    /* border: 5px solid black; */
    height: 40vw;
    width: 40vw;
    background-image: url(clock.png) ;
    background-size: 100%;
    margin: auto;
    margin-top: 5%;
    
}
#hour, #minute, #second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour {
    height: 23%;
    width: 2%;
    top: 24%;
    left: 49%;
}
#minute {
         width: 2%;
         height: 26%;
         top: 21%;
         left: 49%;
         
}
#second {
        width: 1.3%;
        height: 35%;
        top: 16%;
         left: 49%;
         
}